<div class="content-review" *ngIf="isLoggedIn$ | async">
    <button class="btn review-btn" [ngClass]="{'active': reviewMode}" (click)="toggleReviewMode()">
        <i class="fa fa-eye"></i>
    </button>
    <button class="btn submit-btn" [ngClass]="{ 'is-loading' : isLoading }" [disabled]="!hasContentChanged" (click)="submit()">
        <i class="fa" [ngClass]="submitIcon$ | async"></i>
    </button>
    <button class="btn preview-btn" [ngClass]="{'active': previewMode}" (click)="togglePreviewMode()">
        <i class="fa fa-pencil-square" ></i>
    </button>
</div>
