/* You can add global styles to this file, and also import other style files */
.diffmod {
    color:green;
}

del.diffmod,
del.diffdel {
    color:red;
}

.menu-fixed {
    position:fixed;
    top:150px;
}

.w-80 {
    width: 80%;
}
