<section class="container section-gap-top">
	<div class="callto-action-area relative">
		<div class="row d-flex justify-content-center">
			<div class="col-lg-12 p-0">
				<div class="cta-owl owl-carousel">
					<div class="item">
						<div class="cta-img">
							<img src="img/callaction-bg.jpg" class="img-fluid" alt="">
						</div>
						<div class="text-box text-center">
							<h3 class="mb-10">Hot Dinner Selection</h3>
							<p>
								Delicious Gourmet Dinners
							</p>
						</div>
					</div>
					<div class="item">
						<div class="cta-img">
							<img src="img/SANDWICHES_carousel.jpeg" height="450" class="img-fluid" alt="">
						</div>
						<div class="text-box text-center">
							<h3 class="mb-10">Lunch Platters</h3>
							<p>
                                                        Sandwich Platter
							</p>
						</div>
					</div>
					<div class="item">
						<div class="cta-img">
							<img src="img/FRUIT.JPG" height="450" class="img-fluid" alt="">
						</div>
						<div class="text-box text-center">
							<h3 class="mb-10">Dessert</h3>
							<p>
                                                        Fruit Platter
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
